<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File" name="GlobalLogFile" fileName="c:/MasterControl/Logs/Global/${shortdate}.log"
            layout="[${longdate}][${level:uppercase=true:padding=-5}] : ${message}" />
    <target xsi:type="File" name="ServiceLogFile" fileName="c:/MasterControl/Logs/Service/${shortdate}.log"
            layout="[${longdate}][${level:uppercase=true:padding=-5}] : ${message}" />
      <target xsi:type="File" name="ExtScreenLogFile" fileName="c:/MasterControl/Logs/ExtScreen/${shortdate}.log"
            layout="[${longdate}][${level:uppercase=true:padding=-5}] : ${message}" />
      <target xsi:type="File" name="WebLogFile" fileName="c:/MasterControl/Logs/Web/${shortdate}.log"
            layout="[${longdate}][${level:uppercase=true:padding=-5}] : ${message}" />
  </targets>

  <rules>
    <logger name="ServiceLog" minlevel="Debug" writeTo="GlobalLogFile,ServiceLogFile" />
    <logger name="ExtScreenLog" minlevel="Debug" writeTo="GlobalLogFile,ExtScreenLogFile" />
    <logger name="WebLog" minlevel="Debug" writeTo="GlobalLogFile,WebLogFile" />
    <logger name="AllLog" minlevel="Debug" writeTo="GlobalLogFile,ServiceLogFile,ExtScreenLogFile,WebLogFile" />
  </rules>
</nlog>
