#login-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c0f29;
  /*background-image: url(/assets/app/media/img/bg/bg-2.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#login-background .particles-js-canvas-el {
	position: absolute;
	filter: blur(3px);
}

#m_login .m-login__wrapper{
	z-index:1;
}